@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.text-center {
  text-align: center!important;
}

.vertical-center{
  vertical-align: middle!important;
}

.btn{
  box-shadow: 1px 1px 12px 5px #313155!important;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-hint {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.btn-hint:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-hint.btn-small{
  width: 16px;
  height: 25px;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, #8a8a8a7d, #91acbf) no-repeat fixed;
}

.table td, .table th{
  padding: 0!important;
  border-top: none;
}

header {
  background: linear-gradient(#ffce75,#683c3c);
}

#checks{
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
#checks.btn-group {
  text-align: center;
}
#checks .btn {
  margin-right: 5px;
}
#checks .reg-type-name{
    width: 150px;
    height: 45px;
    font-weight: bold;
}
#checks tr {
  background: none;
}

.digits .btn, .result-progress.regularity .btn, .result-progress.number .btn {
  width: 100%;
}

.digits .btn-selected {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.digits .btn-deselected{
  color: #fff;
  background-color: gray!important;
  border-color: gray!important;
}

.result-progress.number .btn{
  background: none!important;
  border: none!important;
  color: rgba(255, 255, 255, 0);
}

.result-progress .btn-deselected{
  color: #fff;
  background-color: lightgray;
  border-color: lightgray;
}

.result-progress .btn-deselected .found-digit, .digits .btn-deselected .digit, .digits .btn-selected .digit{
  padding: 0 3px;
}

tr.result-progress.hinted{
  background: linear-gradient(90deg, #d6c8af,#f87a7a8c) no-repeat fixed!important;
  box-shadow: 1px 3px 15px 1px cadetblue;
}

tr.result-progress.found{
  background: linear-gradient(90deg, #fef99c, rgba(156, 248, 122, 0.55)) no-repeat fixed!important;
}

.result-progress .btn-deselected {
  cursor: default;
}

.btn.check.disabled{
  background-color: gray;
}

.not-found-regs{
  line-height: 15px;
}

.reg-type-summary{
  line-height: 40px;
  box-shadow: 1px 1px 6px 2px black;
}

.reg-type-summary .minus{
  color: red;
  font-weight: bold;
}

.reg-type-summary .plus{
  color: green;
  font-weight: bold;
}

.reg-type-summary .hint{
  color: orange;
  font-weight: bold;
}

.game-progress div{
  font-size: 16px;
}

.game-progress .score, .game-progress .timer{
  font-weight: bold;
}

.records .current{
  background-color: #c4fec440!important;
}
