@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.text-center {
  text-align: center!important;
}

.vertical-center{
  vertical-align: middle!important;
}

.btn{
  box-shadow: 1px 1px 12px 5px #313155!important;
}
.btn.disabled, .btn:disabled{
  opacity: 0.55!important;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-hint {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.btn-hint:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-hint[disabled]:hover{
  background-color: orange;
  border-color: orange;
}

.btn-hint.btn-small{
  width: 16px;
  height: 25px;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, #8a8a8a7d, #91acbf) no-repeat fixed;
}

.table td, .table th{
  padding: 0!important;
  border-top: none;
}

header {
  background: linear-gradient(#ffce75,#683c3c);
}

#checks{
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5rem;
}
#checks.btn-group {
  text-align: center;
}
#checks .btn {
  margin-right: 5px;
}
#checks .reg-type-name{
    width: 150px;
    height: 45px;
    font-weight: bold;
}
#checks tr {
  background: none;
}

.digits .btn, .result-progress.regularity .btn, .result-progress.number .btn {
  width: 100%;
}

.digits .btn-selected {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.digits .btn-deselected{
  color: #fff;
  background-color: gray!important;
  border-color: gray!important;
}

.result-progress.number .btn{
  background: none!important;
  border: none!important;
  color: rgba(255, 255, 255, 0);
}

.result-progress .btn-deselected{
  color: #fff;
  background-color: lightgray;
  border-color: lightgray;
}

.result-progress .btn-deselected .found-digit, .digits .btn-deselected .digit, .digits .btn-selected .digit{
  padding: 0 3px;
}

tr.result-progress.hinted{
  background: linear-gradient(90deg, #d6c8af,#f87a7a8c) no-repeat fixed!important;
  box-shadow: 1px 3px 15px 1px cadetblue;
}

tr.result-progress.found{
  background: linear-gradient(90deg, #fef99c, rgba(156, 248, 122, 0.55)) no-repeat fixed!important;
}

.result-progress .btn-deselected {
  cursor: default;
}

.btn.check.disabled{
  background-color: gray;
  border-color: gray;
}

.not-found-regs{
  line-height: 15px;
}

.reg-type-summary{
  line-height: 40px;
  box-shadow: 1px 1px 6px 2px black;
}

.reg-type-summary .minus, .reg-type-summary .plus, .reg-type-summary .hint{
  font-weight: bold;
  font-size: 16px;
}

.reg-type-summary .minus{
  color: #d04040;
}

.reg-type-summary .plus{
  color: green;
}

.reg-type-summary .hint{
  color: #897145;
}

.game-progress div{
  font-size: 16px;
}

.game-progress .score, .game-progress .timer{
  font-weight: bold;
}

.reg-tooltip-container{
  margin-left: 10px;
}

.tooltip-regularity-type{
  font-size: 12px;
}

.records .current{
  background-color: #c4fec440!important;
}

.update-record-dialog mat-dialog-container{
  background: linear-gradient(#ffce75,#683c3c);
}

.update-record-dialog .btn{
  margin: 0 auto;
}

.confirm-dialog mat-dialog-container, .alert-dialog mat-dialog-container {
  background: linear-gradient(#ffce75,#683c3c);
}

.confirm-dialog .btn, .alert-dialog .btn{
  margin: 0 auto;
}

.alert-dialog.points-added-dialog mat-dialog-container{
  background: linear-gradient(90deg, #fef99c, #9CF87A);
}

/* https://www.iconfinder.com/icons/ */
.social-networks img{
  width: 24px;
  height: 24px;
  margin: 4px;
}



/* *** animation for tutorial *** */

.current-task-control{
  animation-name: currentTaskControl;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -moz-animation-name: currentTaskControl;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: currentTaskControl;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

@keyframes currentTaskControl {
  50%{
    border: 1px solid #dc5252;
    background-color: #dc5252;
  }
}
@-webkit-keyframes currentTaskControl {
  50%{
    border: 1px solid #dc5252;
    background-color: #dc5252;
  }
}

.current-task-control2 {
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  /*border-radius: 10px;*/
}

.current-task-control2:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;/*0*/
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.current-task-control2:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: transparent;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
