@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.text-center {
  text-align: center!important;
}

.vertical-center{
  vertical-align: middle!important;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-hint {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.btn-hint:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-hint.btn-small{
  width: 16px;
  height: 25px;
  padding: 0;
}

html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.table td, .table th{
  padding: 0!important;
}
#checks{
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
#checks.btn-group {
  text-align: center;
}
#checks .btn {
  margin-right: 5px;
}
#checks .reg-type-name{
    width: 150px;
    height: 45px;
    font-weight: bold;
}

#digits .btn, #progress .regularity .btn, #progress .number .btn {
  width: 100%;
}

#digits .btn-selected {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#digits .btn-deselected{
  color: #fff;
  background-color: gray;
  border-color: gray;
}

#progress .btn-deselected{
  color: #fff;
  background-color: lightgray;
  border-color: lightgray;
}

#progress{
}

#progress tr.hinted{
    background-color: mistyrose;
}

#progress .btn-deselected {
  cursor: default;
}
/*
.btn.check{
  width: 155px;
  vertical-align: middle;
  height: 62px;
}*/

.btn.check.disabled{
  background-color: gray;
}

.reg-type-summary .minus{
  color: red;
  font-weight: bold;
}

.reg-type-summary .plus{
  color: green;
  font-weight: bold;
}

.reg-type-summary .hint{
  color: orange;
  font-weight: bold;
}

.game-progress div{
  font-size: 16px;
}

.game-progress .score, .game-progress .timer{
  font-weight: bold;
}
