<h1>Об авторе</h1>

<p>
  Автором данной игры является Евгений Левин.
</p>
<p class="social-networks">
  <a href="https://vk.com/elevine" target="_blank"><img src="vk_icon.png" alt="vk"/></a>
  <a href="https://instagram.com/yauhenlevin/" target="_blank"><img src="instagram_icon.png" alt="instagram"/></a>
  <a href="https://www.facebook.com/evgeny.levin.184/" target="_blank"><img src="facebook_icon.png" alt="facebook"/></a>
  <a href="https://stackoverflow.com/users/571203/evgeny-levin" target="_blank"><img src="stackoverflow_icon.png" alt="stackoverflow"/></a>
  <a href="tg://resolve?domain=m0stwant3d"><img src="telegram_icon.png" alt="telegram"/></a>
</p>

<img src="author.jpg" alt="Автор" style="float: left" width="160" height="160"/>

