<h2 mat-dialog-title class="text-center">Начать новую игру</h2>
<mat-dialog-content>
  <div class="form-group text-center">
    <label for="DifficultyLevel" class="control-label">Выберите уровень сложности:</label>
    <div class="col-sm-12">
      <select [(ngModel)]="difficultyLevel" name="DifficultyLevel" style="margin: 0 10px; background: none;">
        <option *ngFor="let dl of difficultyLevels" [value]="dl.type">{{dl.label}}</option>
      </select>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn btn-success" (click)="navigateStart()">Начать</button>
  <button mat-button class="btn btn-danger" mat-dialog-close>Отмена</button>
</mat-dialog-actions>
