<h1>Об игре</h1>

<p>
  Первая версия игры "Закономерности" разработана и реализована в период с мая 2021 года по август 2021 года. Доработка продолжается в настоящее время. <br/>
  Следующая версия игры будет включать интерактивное обучение по каждому типу закономерности.
</p>
<p>
  <b>Закономерность</b> - последовательность цифр, группирующихся в числа, определяемая алгоритмом, по которому происходит их повторение, изменение или замещение.
</p>
<p>
  Текущая версия игры включает в себя поиск следующих закономерностей:
</p>
<ul>
  <li><b>Одинаковые цифры<br/>
    Пример</b>: для числа '171127' выделите нажатием сначала на все (три) единицы, а затем кнопку "Проверить" под в столбце под надписью "Одинаковые цифры", затем выделите нажатием на все (две) семерки и кнопку "Проверить" в том же столбце.</li>
  <li><b>Одинаковые числа (минимум 2-значные)<br/>
    Пример</b>: для числа '17217' выделите нажатием первые и последние две цифры, а затем нажмите кнопку "Проверить" под в столбце под надписью "Одинаковые числа (минимум 2-значные)". Повторяющееся число - 17.</li>
  <li><b>Зеркальные цифры<br/>
    Пример</b>: для числа '172741' выделите нажатием цифры 1, 7, 7, 1, а затем нажмите кнопку "Проверить" под в столбце под надписью "Зеркальные цифры". Зеркальность видна при отбрасывании всех цифр, кроме перечисленных. Зеркальные цифры не обязательно должны быть подряд идущими.</li>
  <li><b>Кратные числа (минимум 2-значные)<br/>
    Пример</b>: для числа '150210' выделите нажатием цифры 5, 0, 1, 0, а затем нажмите кнопку "Проверить" под в столбце под надписью "Кратные числа (минимум 2-значные)". Кратность определяется тем, что число 50 делится нацело на 10.</li>
  <li><b>Арифметическая прогрессия<br/>
    Пример</b>: для числа '2354' выделите нажатием цифры 2, 3, 4, а затем нажмите кнопку "Проверить" под в столбце под надписью "Арифметическая прогрессия". Разность прогрессии: 3-2=1, 4-3=1. 2, 3, 4 в числе расположены последовательно.</li>
  <li><b>Геометрическая прогрессия<br/>
    Пример</b>: для числа '36012' выделите нажатием цифры 3, 6, 1, 2, а затем нажмите кнопку "Проверить" под в столбце под надписью "Геометрическая прогрессия". Знаменатель прогрессии: 6/3=2, 12/6=2. 3, 6, 12 в числе расположены последовательно.</li>
</ul>
<b>Дополнительные правила</b>
<ul>
  <li
    >Закономерности считаются слева направо (кроме закономерности "<b>Кратные числа (минимум 2-значные)</b>")</li
  >
  <li
    >Если элементы закономерности - числа, а не цифры (закономерности "<b>Зеркальные цифры</b>", "<b>Одинаковые цифры</b>"), то они должны быть неразрывными. Цифры группируются в числа слева направо.</li
  >
  <li
    >Если одна закономерность одного типа включает другую закономерность такого же типа, и у них одинаковые числа-подсказки (кроме закономерностей <b>"Одинаковые цифры"</b> и "<b>Одинаковые числа (минимум 2-значные)</b>"), то считается только большая по количеству цифр закономерность.</li
  >
  <li
    >Если закономерность "<b>Одинаковые числа (минимум 2-значные)</b>" включается все цифры закономерности "<b>Одинаковые цифры</b>", то считается только закономерность "<b>Одинаковые числа (минимум 2-значные)</b>".</li
  >
  <li
    >"<b>Кратные числа (минимум 2-значные)</b>": если при добавлении любой цифры вперед большего из кратных чисел оно останется кратным меньшему, то считается только наименьшее из возможных больших кратных чисел.</li
  >
</ul>
<b>Помощь в игре</b>
<p>
  Если вы все еще испытываете трудности в понимании того, как искать закономерности какого-либо типа:
</p>
<ul>
  <li
    >в процессе игры пользуйтесь подсказками - кнопками оранжевого цвета с текстом "Подсказать" либо "?" соответствующего типа закономерности.</li
  >
  <li
    >начните игру, нажмите "Завершить игру", затем подтвердите сообщение "Показать ненайденные закономерности".
    После того, как они отобразятся, вы сможете на отображенных в таблице игры закономерностях на примерах понять правила, по которым их надо искать.</li
  >
  <li
    >По любым вопросам можете писать <a [routerLink]="['/author']">автору</a> игры на один любой из контактов.</li
  >
</ul>


<!--<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>-->
