<h1>Об игре</h1>
<iframe width="100%" height="300" src="https://www.youtube.com/embed/H8OGMbbY6wc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
  Первая версия игры "Закономерности" разработана и реализована в период с мая 2021 года по август 2021 года. Доработка продолжается в настоящее время. <br/>
  Следующая версия игры будет включать интерактивное обучение по каждому типу закономерности. Далее планируется сетевая версия игры.
</p>
<p>
  <b>Закономерность</b> - последовательность цифр, группирующихся в числа, определяемая правилом, по которому происходит их повторение, изменение или замещение.
</p>
<p>
  Текущая версия игры имеет три уровня сложности:
</p>
<ul>
  <li><b>"Легкий"</b>: число из 7-8 цифр, 6-10 закономерностей,</li>
  <li><b>"Средний"</b>: число из 9-10 цифр, 11-20 закономерностей,</li>
  <li><b>"Тяжелый"</b>: число из 11-12 цифр, 21-30 закономерностей,</li>
</ul>
<p>
  И включает в себя поиск следующих закономерностей:
</p>
<ul>
  <li><b>Одинаковые цифры<br/>
    Пример</b>: для числа '171127' выделите нажатием сначала все (три) единицы, а затем кнопку "Проверить" в столбце под надписью "Одинаковые цифры", затем выделите нажатием на все (две) семерки и кнопку "Проверить" в том же столбце.</li>
  <li><b>Одинаковые числа (минимум 2-значные)<br/>
    Пример</b>: для числа '17217' выделите нажатием первые и последние две цифры, а затем нажмите кнопку "Проверить" в столбце под надписью "Одинаковые числа (минимум 2-значные)". Повторяющееся число - 17.</li>
  <li><b>Зеркальные цифры<br/>
    Пример</b>: для числа '172741' выделите нажатием цифры 1, 7, 7, 1, а затем нажмите кнопку "Проверить" в столбце под надписью "Зеркальные цифры". Зеркальность видна при отбрасывании всех цифр, кроме перечисленных. Зеркальные цифры не обязательно должны быть расположены рядом.</li>
  <li><b>Кратные числа (минимум 2-значные)<br/>
    Пример</b>: для числа '150210' выделите нажатием цифры 5, 0, 1, 0, а затем нажмите кнопку "Проверить" в столбце под надписью "Кратные числа (минимум 2-значные)". Кратность определяется тем, что при делении числа 50 на число 10 получается целое число (5).</li>
  <li><b>Арифметическая прогрессия<br/>
    Пример</b>: для числа '2354' выделите нажатием цифры 2, 3, 4, а затем нажмите кнопку "Проверить" в столбце под надписью "Арифметическая прогрессия". Разность прогрессии: 3-2=1, 4-3=1. 2, 3, 4 в числе расположены последовательно.</li>
  <li><b>Геометрическая прогрессия<br/>
    Пример</b>: для числа '36012' выделите нажатием цифры 3, 6, 1, 2, а затем нажмите кнопку "Проверить" в столбце под надписью "Геометрическая прогрессия". Знаменатель прогрессии: 6/3=2, 12/6=2. 3, 6, 12 в числе расположены последовательно.</li>
</ul>
<b>Начисление очков</b>
<p>
  Очки начисляются по правилам, определяемыми типом найденной закономерности:
</p>
<ul>
  <li><b>Одинаковые цифры</b><br/>
    Количество очков = 5 х (количество цифр).
  </li>
  <li><b>Одинаковые числа (минимум 2-значные)</b><br/>
    Количество очков = 10 х количество чисел.
  </li>
  <li><b>Зеркальные цифры</b><br/>
    Количество очков = 10 + 5 х (количество цифр).
  </li>
  <li><b>Кратные числа (минимум 2-значные)</b><br/>
    Количество очков = 40 + 5 * (число кратности).
  </li>
  <li><b>Арифметическая прогрессия</b><br/>
    Количество очков = 10 + 5 х (разность прогрессии). Если разность прогрессии отрицательная, то в формуле вместо неё считается значение по модулю.
  </li>
  <li><b>Геометрическая прогрессия</b><br/>
    Количество очков = 20 + 10 х (знаменатель прогрессии). Если знаменатель прогрессии меньше единицы, то в формуле вместо него считается 1 / (знаменатель прогрессии).
  </li>
</ul>
<p>
  Также в конце игры вы получаете очки, по одному за каждую оставшуюся секунду таймера, но не более половины от уже заработанных очков.
</p>
<b>Дополнительные правила</b>
<ul>
  <li
    >Закономерности считаются слева направо (кроме закономерности "<b>Кратные числа (минимум 2-значные)</b>")</li
  >
  <li
    >Если элементы закономерности - числа, а не цифры (закономерности "<b>Зеркальные цифры</b>", "<b>Одинаковые цифры</b>"), то они должны быть неразрывными. Цифры группируются в числа слева направо.</li
  >
  <li
    >Если одна закономерность одного типа включает другую закономерность такого же типа, и у них одинаковые числа-подсказки (кроме закономерностей <b>"Одинаковые цифры"</b> и "<b>Одинаковые числа (минимум 2-значные)</b>"), то считается только большая по количеству цифр закономерность.</li
  >
  <li
    >Если закономерность "<b>Одинаковые числа (минимум 2-значные)</b>" включается все цифры закономерности "<b>Одинаковые цифры</b>", то считается только закономерность "<b>Одинаковые числа (минимум 2-значные)</b>".</li
  >
  <li
    >"<b>Кратные числа (минимум 2-значные)</b>": если при добавлении любой цифры вперед большего из кратных чисел оно останется кратным меньшему, то считается только наименьшее из возможных больших кратных чисел. Например, для числа 'XY5010', где X и Y - произвольные цифры, кратными будут считаться только 50 (наименьшее большее) и 10, т.к. при любом X и Y число Y50, как и число XY50 остается кратным 10.</li
  >
</ul>
<b>Помощь в игре</b>
<p>
  Во время игры выделите цифры и нажмите кнопку "Проверить". Если закономерность не найдена - вы получите подсказку о том, что вам 'нужно удалить одну/несколько цифр' и/или 'добавить одну/несколько цифр', чтобы найти ближайшую ненайденную закономерность выбранного типа. Если нет подсказки 'удалить' - значит все выделенные цифры являются частью ближайшей закономерности. Если нет подсказки 'добавить' - значит закономерностью являются некоторые из выделенных цифр. В данный момент количество таких подсказок неограниченно.
</p>
<p>
  <b>Число-подсказка</b> (параметр закономерности) - число, характеризующее искомую закономерность в соответствии с её типом. Подробное описание чисел-подсказок можно просмотреть во время игры.
  Число-подсказка не превосходит по модулю 100, может быть равно нулю только для закономерности "Зеркальные цифры", может быть меньше единицы (но не меньше 1/100) только для закономерности "Геометрическая прогрессия".
  Закономерности с числом-подсказкой, не входящей в указанные диапазоны - не учитывается в игре.
</p>
<p>
  Если вы все еще испытываете трудности в понимании того, как искать закономерности какого-либо типа:
</p>
<ul>
  <li
    >В процессе игры пользуйтесь подсказками - кнопками оранжевого цвета с текстом "Подсказать" либо "?" соответствующего типа закономерности.</li
  >
  <li
    >Начните игру, нажмите "Завершить игру", затем подтвердите сообщение "Показать ненайденные закономерности".
    После того, как они отобразятся, вы сможете на отображенных в таблице игры закономерностях понять правила, по которым их надо искать.</li
  >
  <li
    >По любым вопросам можете писать <a [routerLink]="['/author']">автору</a> игры.</li
  >
</ul>



<!--<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>-->
