<h1>Об игре</h1>

<p>
  Первая версия игры "Закономерности" разработана и реализована в период с мая 2021 года по август 2021 года.
</p>
<p>
  Текущая версия игры включает в себя поиск следующих закономерностей:
</p>
<ul>
  <li>Одинаковые цифры</li>
  <li>Одинаковые числа</li>
  <li>Зеркальные цифры</li>
  <li>Кратные числа</li>
  <li>Арифметическая прогрессия</li>
  <li>Геометрическая прогрессия</li>
</ul>

<!--<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>-->
